@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body,
#share-button {
  background-color: hsl(210, 46%, 95%);
}

* {
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#drawers-img {
  clip-path: inset(20px 0 55px 0);
}

.content {
  background-color: hsl(0, 0%, 100%);
  margin-top: -55px;
}

#info-content,
#profile-content {
  margin: 30px 25px;
}

#first-p {
  font-size: 1.18rem;
}

#first-p,
.profile p:first-of-type {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

#second-p {
  color: hsl(214, 17%, 51%);
  font-size: 0.9rem;
  width: 99%;
}

#profile-content {
  width: fit-content;
}

.profile,
.share {
  display: inline-block;
  vertical-align: middle;
}

.profile:last-of-type {
  line-height: 0.5em;
  margin-left: 15px;
  /* font-size: xx-small; */
}

.profile:last-of-type p:last-of-type {
  color: hsl(212, 23%, 69%);
}

#profile-img,
#share-button {
  border-radius: 50%;
}

#share-button {
  float: right;
  padding: 15px;
  margin-top: -5em;
  margin-right: 2em;
}

#share-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .flex-container {
    flex-direction: row;
    min-width: 750px;
    max-height: 295px;
  }

  #drawers-img {
    clip-path: inset(0 70px 5px 0);
  }

  .content {
    margin-top: 0;
    margin-left: -70px;
  }

  #info-content,
  #profile-content {
    margin: 0;
    margin: 10px 40px;
  }

  #first-p {
    font-size: 1.3rem;
  }

  #share-button {
    float: right;
    margin-right: 4em;
  }
}