@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body,
#share-button {
  background-color: hsl(210, 46%, 95%);
}

* {
  font-family: 'Manrope', sans-serif;
  /* box-sizing: border-box; */
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-top: -55px;
}

#drawers-img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  clip-path: inset(0 0 55px 0);
}

#info-content p:nth-child(1),
.profile:last-of-type p:first-of-type {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

#info-content p:nth-child(1) {
  /* font-size: 18.7px; */
}

#info-content p:nth-child(2) {
  color: hsl(214, 17%, 51%);
  /* font-size: 15px; */
}

.content {
  padding: 20px 27px;
}

.profile {
  display: inline-block;
  vertical-align: middle;
}

.profile:last-of-type {
  margin-left: 20px;
  line-height: 15px;
}

.profile:last-of-type p:last-of-type {
  color: hsl(212, 23%, 69%);
}

#profile-img,
#share-button {
  border-radius: 50%;
}

#share-button {
  float: right;
  padding: 10px;
  margin-top: 1.5em;
}

#share-button:hover {
  cursor: pointer;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
  display: none;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  display: block;
}

@media screen and (min-width: 1440px) {
  .flex-container {
    flex-direction: row;
    min-width: 750px;
    max-height: 295px;
  }

  #drawers-img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    clip-path: inset(0 70px 5px 0);
  }

  .content {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    margin-top: 0;
    margin-left: -70px;
    padding: 0 30px;
  }

  #info-content p:first-of-type {
    width: 85%;
  }

  #info-content p:last-of-type {
    width: 100%;
  }

  /* Popup container - can be anything you want */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* The actual popup */
  .popup .popuptext {
    display: none;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup .show {
    display: block;
  }
}